[2014-06-21 21:41] dparizek opened #1 "So if I need to include jQuery for other reasons, what to do?"
ng-grid still requires jQuery, and I wanted to use this on a page with ng-grid.  Suggestions on how to protect against the jQuery in source execution issue?

[2014-07-07 22:14] #1 closed, assigned to nobody

[2014-09-24 18:53] btford opened #2 "tests?"
Are there tests for this component?

[2015-02-09 13:50] vinsc01 commented on #2
How do you change the height/width of the edit window?

[2015-02-09 13:52] vinsc01 opened #3 "How do you change the editor size?"
How do you change the height/width of the edit window?

[2015-02-10 01:13] psergus commented on #3
Please pull for updates, I just remarked the structure and all you need know is to edit
.tinyeditor .sizer { height: XXXpx; }
I also added mouse resizer. Please see example on http://psergus.github.io/ngWYSIWYG/

[2015-04-25 07:31] butaixianran opened #4 "a lot of buttons won't work when screen width is narrow"
A lot of buttons will leave the toolbar and won't work any more, when screen width is narrow

[2015-04-25 15:44] psergus commented on #4
butaixianran, can you tell pls what width did you try?

Sent from my iPhone

[2015-04-25 23:17] butaixianran commented on #4
I narrow my chrome 42 to mobile size. Here is a screenshot:

![2015-04-26 6-25-35](https://cloud.githubusercontent.com/assets/5558722/7335141/3255fd20-ebdd-11e4-9c83-91770f245645.jpg)

I also find a solution for that, we can update the template, add flex to toolbar's style, then it will be fine. But the gray image background will be mess, so I just remove it and use Bootstrap's class.

Check this:

[2015-04-25 23:39] butaixianran opened #5 "How to change image width automatically?"
I konw Chome can't change image size in design mode.
But, we can check all images' width, if any image's width > textarea's width, then set image's width to 100%.

This strategy is not perfect, but will be fine in most cases. With this, most people won't even try to modify image size in html source anymore.

[2015-04-25 23:48] psergus commented on #4
good idea, let me play with it

On Sat, Apr 25, 2015 at 4:17 PM, butaixianran <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2015-04-26 01:11] butaixianran commented on #5
I find a solution for this, by adding this at the end of  scope.$on('execCommand', function(e, cmd)

[code]

But that means this replace() will be checked, everytime clicking on any button.

I try to do thi in scope.insertImage()   function with  scope.content , but what I get is the value before execCommand finished.

So, how should I get $body.html()   scope.insertImage()   function ?
Thanks.

[2015-04-26 01:46] psergus commented on #5
what I would recommend in this case is to
use scope.execCommand('insertHTML', '<img src=" + val + " style="max-width:
100%">' ); instead of scope.execCommand('insertimage', val);
inside wysiwygEdit directive. This will give you better flexibility.
Actually I was thinking to replace it and probably will.

On Sat, Apr 25, 2015 at 6:11 PM, butaixianran <notifications@github.com>
wrote:

--
Best regar

[2015-04-26 05:04] butaixianran commented on #5
it's a great solution, much better than what I did, thanks

[2015-06-11 09:11] innerpeace0 opened #6 "feature request: Material design css"
Hey, Serg,

Your text editor is a great piece of work.

I'd love to see your editor have, as an option, the css from Material Design, https://material.angularjs.org/latest/#/. The typography at https://material.angularjs.org/latest/#/CSS/typography is just great, and having an editor like yours to use it would be a dream come true for my project.

I expect others would benefit from this addition t

[2015-07-16 17:11] msohaib47 opened #7 "Images do not show in Firefox"
Toolbar images do not render in firefox. All toolbar buttons show the first image (<>). Works in chrome.

Is there any easy fix to this?

[2015-07-16 17:37] msohaib47 commented on #7
One solution I found (but its not complete) is to replace following in tpl file

background-position-y: -XXXpx;

with

background-position: 0px -XXXpx;

This results in icons to show, but does not change icon on hover.

[2015-07-16 18:40] innerpeace0 commented on #7
I noticed this, too.

[2015-07-16 19:53] psergus commented on #7
thx for noticing this guys. I will work on it to fix. :+1:

[2015-08-02 05:01] sylhero opened #8 "background color doesn't work on IE 9"
Hi,

the background color button doesn't work on IE 9 and is it possible for u to put it on bower?

[2015-08-02 17:18] psergus commented on #8
yep, will work on that

[2015-08-11 06:22] phanhongphucit commented on #7
I have this too

[2015-08-12 16:16] psergus commented on #7
released the fix guys. thx for noticing this.

[2015-08-12 20:06] psergus commented on #8
@sylhero, I updated the code and it should fix the issue in FF and IE9

[2015-08-13 16:05] innerpeace0 opened #9 "Demo went blank"
It worked yesterday, and the new release looked great. Thanks.

[2015-08-13 17:04] psergus commented on #9
glad to hear you like it :) Also, I put it on bower.

On Thu, Aug 13, 2015 at 9:05 AM, Inner Peace 0 <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2015-08-13 20:56] psergus commented on #9
found the bug and fixed. Demo should be working now.

[2015-08-13 22:14] #9 closed

[2015-08-14 00:24] #3 closed

[2015-08-14 00:25] psergus commented on #4
I updated CSS and regrouped some buttons so they are more responsive now to the screen size change. Thx for the notice :+1:

[2015-08-14 00:26] #7 closed

[2015-09-14 03:50] jeffreybraun opened #10 "How can I control the buttons on the toolbar?"
Hi, this looks like a great component, but I was curious how I can limit some of the buttons on the toolbar. I'm not suppose to provided this many options to our user-base.

Thanks,

Jeff

[2015-09-15 16:48] psergus commented on #10
Good idea Jeff, I will work on it.

[2015-09-21 19:15] kiokotzu opened #11 "clear text?"

[2015-09-21 19:44] psergus commented on #11
@kiokotzu what do you mean by this?

[2015-09-21 20:04] kiokotzu commented on #11
@psergus as I can clear the field?

[2015-09-21 20:19] psergus commented on #11
do you want a button for this?

[2015-09-21 20:22] kiokotzu commented on #11
yes

[2015-09-23 10:45] anchengjian opened #12 "There is a XSS in the process of model to view."
There is a XSS in the process of model to view. <br>
Simple example：<br>
[code]
![XSS](http://i3.tietuku.com/ca66ab76a1973a92.png).<br>
Now, I have fixed the bug, and push it to my github. In that repertory, I have improved the ui of tinyEditor, and Chinesizated it.<br>
If you can, I want to be a branch of your ngWYSIWYG.<br>
My github: [ngTinyEditor](https://github.com/anchengjian/ngTinyEditor)<b

[2015-09-23 16:48] psergus commented on #12
thx for pointing this out. I will add fix.

On Wed, Sep 23, 2015 at 3:45 AM, anchengjian <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2015-09-23 17:14] psergus commented on #12
I added solution, which was very simple. thx again.

[2015-10-08 06:16] register459 opened #14 "My Styles are not applying in text area."
I am saving the edited text and retrieving back the html.But the inline styles in span are disappearing and appearing as normal text. I need my saved styles back again.

[2015-10-12 03:19] psergus commented on #14
Sorry about that. I figured this out and moved the input sanitation into the configuration. Please update to the v0.3.0

[2015-10-12 03:20] psergus commented on #10
I added a config where you can provide which buttons and groups you want to show.

[2015-10-20 07:42] rjgarciadelpino opened #15 "Add version tags"
I want to use in my rails app through rails-assets.org

[2015-10-20 20:31] psergus commented on #15
@rjgarciadelpino , there are version tags. If you do git tag, it will show you. Unless I don't see something :) Let me know please

[2015-10-20 20:34] psergus commented on #15
Perhaps you meant this page: https://github.com/psergus/ngWYSIWYG/tags
However, this will appear when we have the first release. I guess it will happen soon when I add tests.

[2015-10-20 20:55] rjgarciadelpino commented on #15
Ok! I thought it was production ready!
El 20/10/2015 22:34, "Sergey Petrenko" <notifications@github.com> escribió:

[2015-10-20 21:11] psergus commented on #15
I use it on my production site. However, I would like to add testing suite before the public can accept it as a production ready. You know what I mean :)

[2015-10-23 08:47] DeanWilliamMills opened #16 "'toolbar' of undefined"
Hi Psergus

Very nice component, thanks!

I get an error at line 402 in wysiweg.js (scope.toolbar = scope.config.toolbar)
scope.config is undefined.
Maybe I am missing something small, but I would appreciate your help.
Thank you!!

[2015-10-23 18:30] psergus commented on #16
fixed. thx for pointing this out :+1:

[2015-10-30 22:34] richardchou opened #17 "Is it possible to modify the plugin to generate different HTML tags for styling?"
Hi, I don't really have an issue per say, but more of a question.

I noticed that the generated HTML with the text editor uses the `<span style=""> ` tag when you edit text. I was wondering if there is a way to generate using some of the older tags instead, for example, when bolding, underline or italicizing text, use the older `<b>`, `<i>`, `<u>` tags, and for font color changes, generate the `<f

[2015-10-30 22:51] psergus commented on #17
Hi @richardchou, totally understood :+1:
What you can do is you can comment $document.execCommand("styleWithCSS", 0, 0); in the 'wframe' directive (you can search for this command). It should produce the 'Old School' elements. Although, I should say it is not guaranteed for all browsers, but for majority. Please let me know if it helped.

[2015-10-30 23:07] richardchou commented on #17
Hi @psergus - Thanks a bunch, I tried commenting that line out and it worked both in Firefox and Chrome. Looks like this issue is resolved :+1:

[2015-10-30 23:07] #17 closed

[2015-11-03 16:30] eugenev3 opened #18 "Layout in BODY tag not good practice"
This can cause global issues when compiling the CSS if using a CSS preprocessor such as SASS.

[2015-11-03 16:44] psergus commented on #18
explain pls

[2015-11-03 17:10] eugenev3 commented on #18
For anyone who wants to pull in ngWYSIWYG into their web app or web site, your BODY margin and padding definitions in editor.css can override their BODY styles. I don't think it is necessary in editor.css.

[2015-11-03 21:32] psergus commented on #18
I see what you mean now. Completely agree. I just reworked styles to push them into the scope and avoid the space pollution. I also added sass file. Thx for your feedback. :+1:

[2015-11-20 22:55] richardchou opened #19 "Any way to select text content on focus?"
Hi,

I was wondering how I would set the behavior of the editor to select all of the text content in the editor when you focus by clicking on the text box? This way if there is a default message selected, the user can just type over it to create a new message.

For normal text boxes, it is possible to do this in angular by writing directive that gets the window, then selects the element on click.

[2015-11-21 00:21] psergus commented on #19
hmm, sorry a bit confused by what you mean. Do you have examples or maybe
can you provide more details pls?

On Fri, Nov 20, 2015 at 2:55 PM, Richard Chou <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2015-11-21 00:40] richardchou commented on #19
This stackoverflow question is pretty much what I want to do: http://stackoverflow.com/questions/14995884/select-text-on-input-focus

However instead of generic html text-areas, I would like to apply it to the iframe that the editor is in somehow.

[2015-12-04 21:02] leonardo031195 opened #20 "Ng-model is not working on IE"
I'm trying to edit the content on IE (Versions 11, 10, 9), but the ng-model variable is not being updated on 'Edit Model'. When I apply a html element wrapping it (like "<p>content</p>"), it works. On Chrome and Firefox, it works well .

[2015-12-04 22:38] psergus commented on #20
Can you paste the part of code here please?

Sent from my iPhone

[2015-12-05 15:23] leonardo031195 commented on #20
This is the config i am initing:

vm.config = {
      sanitize: false,
      toolbar: [
        { name: 'basicStyling', items: ['bold', 'italic', 'underline', 'strikethrough', '-', 'leftAlign', 'centerAlign', 'rightAlign', 'blockJustify', '-'] },
        { name: 'paragraph', items: ['orderedList', 'unorderedList', 'outdent', 'indent', '-'] },
        { name: 'doers', items: ['removeFormatting', '-

[2015-12-07 22:53] psergus commented on #20
you are right. I got the IE and started checking it. Looks like there is
some bug with IE when ng-model's expression has unknown value.
What workaround was working for you?

On Sat, Dec 5, 2015 at 7:23 AM, leonardo031195 <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2015-12-08 11:21] leonardo031195 commented on #20
For now, im initing the ng-model with a '<div></div>' value, and i'm inserting the content on it. When the ng-model comes back to null, I insert again the init value. Creating a "html wrapper" its working for now.

[2015-12-08 17:10] psergus commented on #20
I see. Thanks for the hint :) I will try to dig and see if something can be
done to it.

On Tue, Dec 8, 2015 at 3:21 AM, leonardo031195 <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2015-12-17 11:22] ashuorg commented on #15
@psergus perhaps you can start with beta versions v0.1 so that we don't keep changing our code to make it compatible with the directive upgrades

[2015-12-17 15:33] psergus commented on #15
ashuorg, good idea. I will wrap it up and do asap

Sent from my iPhone

[2015-12-18 02:40] MegazeroMZ opened #21 "Adding button to toolbar and error in demo?"
Hi, I was wondering how can I add another button to the tools bar, is there any easy way to do that? I want to add an upload image button as well.

Also I was trying out the configuration and image resize, and configuration dont work for me. Or to be more clear I got a syntax error (missing : after property id:) in this line:

$scope.editorConfig = {

Without editorConfig everything is fine. Did I

[2015-12-18 20:29] psergus commented on #15
I did a release. Thx for the suggestion :)

On Thu, Dec 17, 2015 at 7:33 AM, Sergey Petrenko <sergey@inkfrog.com> wrote:

--
Best regards,
Sergey Petrenko

[2015-12-18 20:31] psergus commented on #21
MegazeroMZ, great idea. I will cook something regarding the ability to add
your own buttons.
As to the editorConfig, can you please drop your full config so I can check
it and see what's going on. If you don't want to drop it here, send me
email.

On Thu, Dec 17, 2015 at 6:40 PM, MegazeroMZ <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2015-12-18 20:58] MegazeroMZ commented on #21
The full code is the same one in your demo:

controller('demoController', ['$scope', '$q', '$timeout', function($scope, $q, $timeout) {
    $scope.your_variable = 'some HTML text here';
    $scope.api = {
        scope: $scope,
        $scope.editorConfig = {
            sanitize: false,
            toolbar: [
            { name: 'basicStyling', items: ['bold', 'italic', 'underline', 'strikethroug

[2015-12-18 22:48] psergus commented on #21
I am glad it worked. I will definitely work on the ability to add custom
buttons and will release the update soon. Please stay in touch and thanks :)

On Fri, Dec 18, 2015 at 12:58 PM, MegazeroMZ <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2016-01-04 21:02] brunokrebs commented on #10
Hi there @psergus, I'm using it already and it is working. Why don't you mark this as closed?

[2016-01-04 21:24] brunokrebs opened #22 "Sometimes caret disappears on Chrome"
This happens quite frequently and it is annoying but looks like it is really easy to solve.

**How to reproduce**

Open the [demo page](http://psergus.github.io/ngWYSIWYG/), remove all content, write something and then click somewhere else in the page. After that click on the editor again and the caret is not shown, even though it is possible to keep editing the content.

**Possible solution**

Th

[2016-01-04 21:55] brunokrebs commented on #22
Well, actually I've found a better solution, which is the same one implemented by CKEditor to the issue opened there. Check out the following [merge on their repo](https://github.com/ckeditor/ckeditor-dev/commit/5d8d34a).

I will make a pull request with my solution.

[2016-01-05 01:19] psergus commented on #10
Thx @brunokrebs

[2016-01-05 01:19] #10 closed

[2016-01-05 17:38] psergus commented on #22
@brunokrebs, thanks for much for helping man :+1:

[2016-01-05 17:38] #22 closed

[2016-01-07 20:38] brunokrebs commented on #22
@psergus would you mind to release a patch with my fix?

[2016-01-07 21:27] psergus commented on #22
@brunokrebs, yeah, should be already in the master repo. Please check it out. Let me know if something not right.

[2016-01-08 12:13] panchazo opened #25 "Tags switch from <p> to <div> when cleaning the content"
If you copy/paste couple lines of text (multiline text makes the issue more evident) from eg Notepad to the editor if it has a <p></p> tag inside it will use proper tags to generate lines, bold, etc (you can see this in the source view). If you clean all contents (to be sure go to source view and delete everything) it will generate <div> tags to create new blocks instead of using <p>.
By the way,

[2016-01-08 22:02] psergus commented on #25
@panchazo, yeah you are right. It's due to the option styleWithCSS which is enabled by document.execCommand("styleWithCSS", 0, 0); you can comment this line and it will be generating tags in the old style. Here is some explanation: http://stackoverflow.com/questions/3088993/webkit-stylewithcss-contenteditable-not-working
I guess I will need to contemplate on adding this as an option to configure t

[2016-01-10 18:08] brunokrebs commented on #22
You are right, @psergus, my fix is in the master repo already, but there is no new patch (i.e. no git tag) with my fix.

I was going to tell you that you need to bump it with bower, but I just saw that [bower.json](https://github.com/psergus/ngWYSIWYG/blob/master/bower.json#L3) has the wrong version. I'm going to fix it and send a pull request.

[2016-01-10 18:11] psergus commented on #22
ahh, you are 100% right. Yea, sends the request and I will merge with the
master.

On Sun, Jan 10, 2016 at 10:08 AM, Bruno Krebs <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2016-01-11 00:37] brunokrebs commented on #4
I just tested it and your fix is working just fine @psergus. If @butaixianran has nothing new to add to this issue, I think it is a good time to close it.

[2016-01-11 00:40] brunokrebs commented on #18
Issue solved? Maybe it is time to close it.

BTW: Sorry to keep bothering you @psergus, but I like this lib and I will be playing with it for a while.

[2016-01-11 01:08] psergus commented on #4
closing it. thx @brunokrebs and @butaixianran

[2016-01-11 01:08] #4 closed

[2016-01-11 01:09] psergus commented on #18
closing it.

[2016-01-11 01:09] #18 closed

[2016-01-13 03:41] brunokrebs commented on #15
I have created a pull-request to help on dealing with tags, patchs, features and releases. Hopefully @psergus will accept it :+1:

Besides that, since there is at least one tag already (v0.3.3), I think we can close this issue.

[2016-01-13 03:47] brunokrebs commented on #2
Gonna take a look on how to perform tests on this component. A good place to start would be using selenium to test it's features. I'm going to take a look on this soon.

[2016-01-13 06:52] brunokrebs opened #32 "Source code indentation"
I have seen that there are some places that indentation is made with two empty spaces and other places they are made with tab. Would you mind if I fix all the source code to use tabs instead of two spaces?

I know that this is a personal choice and I have read a few articles about both of them, so to make it simple, tabs are more flexible. If you want it to look like two spaces, you just have to c

[2016-01-14 04:25] psergus commented on #32
Hi Bruno,

yeah, of course - go ahead :+1:

[2016-01-14 04:47] sachinkhanna55 opened #33 "How to disable text editor"
I want to disable WYSIWYG text editor, Please help.

[2016-01-14 11:38] brunokrebs commented on #33
Hmm, yeah, this feature makes sense. Gonna take a look at it as soon as possible.

[2016-01-14 11:59] brunokrebs commented on #33
I just started to develop this feature and disabling the buttons is very easy. The problem is that I'm not sure how to disable the editor content since it is an iframe with contentEditable property set to 'on'. I will think of something soon.

This is the branch that I'm working on in the moment:

https://github.com/brunokrebs/ngWYSIWYG/tree/disable-option

[2016-01-15 07:45] sachinkhanna55 opened #35 "How to remove Header"
Hi,

I am using 3 instances of text editor in a page.

On 1 instance, I want to remove header of text editor.

Please help.

[2016-01-15 11:04] brunokrebs commented on #35
What do you mean by 'remove header'? Do you mean the place that contains the buttons? You wan't no buttons?

[2016-01-15 11:06] brunokrebs commented on #35
If that is what you want you could easily do that with CSS, like that:

[code]

[2016-01-18 13:21] #32 closed

[2016-01-19 11:35] brunokrebs commented on #35
@psergus I think it is ok to close this issue

[2016-01-19 15:49] psergus commented on #35
done

[2016-01-19 15:49] #35 closed

[2016-01-21 01:42] ferryarman opened #37 "When integrated in minified source code, there's an injection dependency error message."
Hi, just want to report there's a bug on your ngWYSIWYG code.

Related file: js/wysiwyg.js

[code]
I think you need to change it to:

[code]

Caught the dependency error, by attaching ng-strict-di:
[code]
Uncaught Error: [$injector:strictdi] function($delegate, $log) is not using explicit annotation and cannot be invoked in strict mode
http://errors.angularjs.org/1.4.8/$injector/strictdi?p0=functi

[2016-01-21 04:09] psergus commented on #37
sorry about that. I posted a fix into the master.

[2016-01-21 23:08] ferryarman commented on #37
Thanks Sergey for the fix, just FYI .. I think you forgot to update this file:
dist/wysiwyg.min.js

[2016-01-21 23:08] #37 closed

[2016-01-26 12:42] chrillewoodz opened #38 "Format doesn't change anything"
What does 'format' actually do? You can set a paragraph and headers but they don't actually seem to be doing anything.. I can't see any change in the wysiwyg itself or in the source. Explanation please? :)

[2016-01-26 12:51] chrillewoodz opened #39 "Resize is not working properly"
When you drag the resize down, it immediately jumps down to approximately twice the size of the editor before you started the resize, then you can resize it as usual. Is this really something no one has come across?

[2016-01-26 12:59] chrillewoodz opened #40 "Disable resize?"
Is there a way to disable the resize function? Other than hiding the element itself that is.

[2016-01-26 13:16] chrillewoodz opened #41 "Font size is not getting converted into a px value, but rather the string of the choice"
When you choose a font size and then look at the source it just says "font-size: x-large", which when you try and use it somewhere else other than the editor, is useless. Bugfix please? :)

[2016-01-26 18:26] brunokrebs commented on #38
Well, it is a bug :bug:

I have seen this before, but since I don't use this button I didn't filed the issue nor solved it. But it seems quite easy to solve it.

[2016-01-26 18:28] brunokrebs commented on #41
This one doesn't seem like a bug to me. Check out [what Mozilla has to say about it](https://developer.mozilla.org/pt-PT/docs/Web/CSS/font-size).

[2016-01-26 18:31] brunokrebs commented on #40
Well, that is exactly what I have done, I have it hidden, so no user can use it.

[2016-01-27 07:50] chrillewoodz commented on #41
Hmm interesting. But why doesn't it get applied then when I use the html elsewhere?

[2016-01-28 03:07] MegazeroMZ commented on #21
Hi again, so I didnt actually need it before so I didnt try, but now since I do I try to add a button and success in doing so. So here's what I do for those who want to do it/

in ngWYSIWYG/js/wysiwyg.js I added
`imageUpload: "<div class=\"tinyeditor-control\" title=\"Upload Image\" style=\"background-position: 34px -866px;\" ng-click=\"insertImageUpload()\"></div>",`

(noted that the background-p

[2016-01-28 04:24] MegazeroMZ opened #42 "execCommand('insertHTML') dont work with IE"
So I have another problem here, I try the whole thing in IE 11 and all the function/button that require execCommand('insertHTML',val) like insert image, symbol all stop working. How do I get around this?

[2016-01-28 13:04] brunokrebs commented on #42
Damn Microsoft, why don't they do a better job following standards. Hopefully this will work on Edge, but for now I have the following solution: http://stackoverflow.com/questions/6690752/insert-html-at-caret-in-a-contenteditable-div/6691294#6691294

[2016-01-28 13:33] MegazeroMZ commented on #42
@brunokrebs surprisingly, IE 9 or lower have an alternative to insertHTML, Edge have insertHTML, only IE 10 and 11 for some reason remove it...

As for that solution, I found it already but I dont know how to apply it in.. I added the pasteHtmlAtCaret function into ngwysiwyg.js and try to call it from the insertImage function at the end of that file, but it didnt work. Looking at fiddle and I saw

[2016-01-28 13:48] brunokrebs opened #44 "Add me as a collaborator"
Hi there @psergus.

I'm wondering, would you mind adding me as a collaborator to this repo? I'm using it a lot and I think I can contribute even further if I had access to it. [This is how you add me](https://help.github.com/articles/adding-collaborators-to-a-personal-repository/), in case you approve my request.

Thanks and best regards.

[2016-01-28 14:00] brunokrebs commented on #42
I'm going to work on that now.

[2016-01-28 14:38] brunokrebs commented on #42
Ok, @MegazeroMZ

I have issued a [pull request with the solution](https://github.com/psergus/ngWYSIWYG/pull/45). Now you have two alternatives. First: you wait til @psergus accept my pull request (which usually doesn't take that long). Second: you use [insert-html branch in my own repo](https://github.com/brunokrebs/ngWYSIWYG/tree/insert-html).

If you follow the second approach (using my repo) an

[2016-01-28 14:41] MegazeroMZ commented on #42
@brunokrebs thanks. I'm going to try that tomorrow and I will let you know what happen.

[2016-01-28 15:52] psergus commented on #42
Merged the fix. Thx @brunokrebs and @MegazeroMZ

On Thu, Jan 28, 2016 at 6:41 AM, MegazeroMZ <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2016-01-28 15:58] psergus commented on #44
Done and thx for coming on board +1

On Thu, Jan 28, 2016 at 5:48 AM, Bruno Krebs <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2016-01-28 15:58] OlexandrPopov commented on #39
I have similar issue in my project.

[2016-01-28 18:32] OlexandrPopov commented on #38
![style](https://cloud.githubusercontent.com/assets/1233052/12654719/1613a26a-c5fe-11e5-878c-27f6ba92f6a8.png)
Do you mean the dropdown shown on the attached screenshot?

[2016-01-28 21:16] brunokrebs commented on #44
Glad to help :smile:

[2016-01-28 21:16] #44 closed

[2016-01-28 21:19] brunokrebs commented on #38
Exactly.

[2016-01-28 21:27] #16 closed

[2016-01-28 21:28] #5 closed

[2016-01-28 21:32] brunokrebs commented on #6
@innerpeace0 this request is more than 6 months old now, and I really don't see why and how we would put this editor to use Material Design patterns. This looks more like something you would do in your own app and the editor itself would inherit these css rules.

In case I misunderstood your request, would you mind explaining it further?

[2016-01-28 21:32] #8 closed

[2016-01-28 21:33] #12 closed

[2016-01-28 21:36] #14 closed

[2016-01-28 21:36] #15 closed

[2016-01-29 03:05] MegazeroMZ commented on #42
Big thanks to btoh @brunokrebs  and @psergus . It's now work on IE. I want to add something too. For the insertImage by link it work fine since the focus never lost, but as what I do on the previous issue post about creating new button for uploading my own image using a modal, since the modal is called the focus on the iframe lost, so even when the upload work fine, the pasteHtmlAtCaret dont work

[2016-01-29 03:58] MegazeroMZ commented on #41
@chrillewoodz  maybe check out how you pass the value to the view? I'm using angularjs and I dont exactly remember how, but my older code use something that break the html for bold,italic and underline when I retrieve it and display on the view, and I need to change to ng-bind-html="value" to make html display properly.

[2016-01-29 04:36] psergus commented on #41
I will add two cents here. We are dealing with the rich text editor, which has an API telling us to push only  specific font sizes: https://developer.mozilla.org/en-US/docs/Web/API/Document/execCommand

I was looking previously for the solution to provide more granular selection of size and my attention focused on rangy js library. However, the huge issue is to tell the browser which font size we

[2016-01-29 06:37] OlexandrPopov commented on #38
I fixed it yesterday. Check it #43

[2016-01-29 07:31] MegazeroMZ commented on #42
I found a new bug, this time for all browser. After I insert a picture by link, the picture appear on the editor, but if I click on "source" at the bottom of ngWYSIWYG I saw nothing, the <img> line is not added yet, but the image still appear on the editor. it will only get added to the source and the variable I set to ngWYSIWYG on content="variable" after I click on the editor itself once more af

[2016-01-29 08:48] chrillewoodz commented on #38
Awesome :) Thanks.

[2016-01-29 08:48] #38 closed

[2016-01-29 11:33] brunokrebs commented on #42
@MegazeroMZ you are right, the html generated by the editor is not getting updated after using this pasteHtmlAtCaret. I have fixed that and I will generate a patch version. By the way, I have tested on ie11, firefox, chrome and safari. They are all getting updated now.

[2016-01-29 11:33] #42 closed

[2016-01-29 11:50] brunokrebs commented on #42
@MegazeroMZ this fix is merged on the master branch and it is available on [release v0.5.1](https://github.com/psergus/ngWYSIWYG/tree/v0.5.1).

[2016-01-29 17:20] OlexandrPopov commented on #39
The issue appears when your page has scroll bar. I created a test page http://popov.skyboxua.com/ngWYSIWYG/dev/

Steps to reproduce:
1. Open the page
2. Scroll down the page and try to resize the editor.

[2016-01-29 17:39] brunokrebs commented on #39
Nice, this can help fixing it.

[2016-01-29 17:47] OlexandrPopov commented on #39
Here is the function that is responsible for resize. As you can see it depends on $event.pageY. And in some cases (like on the example) $event.pageY may be a very large value.

[code]

[2016-01-29 17:52] brunokrebs commented on #39
Thanks @OlexandrPopov, I'm looking what we can do to solve this issue.

[2016-01-29 22:02] brunokrebs commented on #39
Damn, this was harded than I was expecting. Anyway, now resizing button is working properly on Safari, Chrome, Firefox and IE (11 at least). I have added fixed a few issues, refactored the code to keep ngpResize directive on its own file, and added a feature to make window scroll while resizing down.

All this was release on [version v0.5.2](https://github.com/psergus/ngWYSIWYG/releases/tag/v0.5.2

[2016-01-29 22:02] #39 closed

[2016-01-30 09:26] OlexandrPopov commented on #39
Great job!

[2016-01-30 21:21] psergus commented on #39
+1

On Sat, Jan 30, 2016 at 1:26 AM, Oleksandr Popov <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2016-02-01 04:05] MegazeroMZ opened #47 "Feature Request: Resizable Image in editor"
Right now the only option we have for resize image is by taking over the insertImage function and add style="width:xx%" into the html we are going to insert into the editor. But is there a way to do it more dynamically like with textAngular (http://textangular.com/) where they have some kind of directive or something that allow click on Image and then a small box show up contain the image and can

[2016-02-01 18:02] brunokrebs commented on #47
I have just released this feature under the [tag v0.6.0](https://github.com/psergus/ngWYSIWYG/releases/tag/v0.6.0). Please, take a look at it and, if possible, provide some feedback about usability and so on. The feature have been tested on latest Chrome, latest Firefox, lastest Safari and IE 11. If possible, please test on Microsoft Edge.

[2016-02-02 01:38] MegazeroMZ commented on #47
@brunokrebs since the layout is completely different now, would you mind rewrite the readme.md to reflect the new change? Since after updated to v0.6.0 the ngWYSIWYG completely stop working for me. It dont even show up on the html anymore.

[2016-02-02 02:54] brunokrebs commented on #47
Well, I'm going to take a look at that, but the rewrite that I've made should be compatible with previous versions, that's why I published a feature and not a release. Anyway, checking it now.

[2016-02-02 02:59] MegazeroMZ commented on #47
Even for the previous version (which I'm reverted back to it for now) the readme should still be updated because of the source file moving. Before it was (and still is on the readme):
bower_components/ngWYSIWYG/css/editor.css
bower_components/ngWYSIWYG/js/wysiwyg.js

But now (for the previous version) it is
bower_components/ngWYSIWYG/dist/editor.min.css
bower_components/ngWYSIWYG/src/js/wysiwyg.js

[2016-02-02 03:05] brunokrebs commented on #47
I have not tested yet, but considering what you are saying I'm guessing that the problem is that you are adding the wrong files. There are two files that you have to add in your project:

[code]

Both are minified and the second one has all the js files, concatenated in the right order, in the src directory. Please, try with this single js file (alongside with css).

By the way, even that it start

[2016-02-02 03:28] brunokrebs commented on #47
@MegazeroMZ thank you very much for pointing the issues. Now I have updated README.md and, besdides that, I have fixed an issue on editor's style. Take a look at [v0.6.1](https://github.com/psergus/ngWYSIWYG/releases/tag/v0.6.1).

[2016-02-02 03:28] #47 closed

[2016-02-02 04:10] MegazeroMZ commented on #47
Thanks. I also found out what was the problem with v0.6.0 for me. I added a custom button in wysiwyg.js file in /src/js folder in the previous version, so I cant read from the wysiwyg.min.js directly since min file dont have the header for my additional function, so when my code from other file try to look for that function in ngWYSIWYG it cant find it, hence the bug. And because of that I couldnt

[2016-02-02 04:14] MegazeroMZ opened #48 "Bug with selecting color, background color and symbols"
Those 3 button, which before show a table with options to choose from are now all bugged out and show something like this (this is with all 3 of them open at once):

![wegfawegweg](https://cloud.githubusercontent.com/assets/13162201/12739643/13fc6892-c99e-11e5-82f9-9f8d2d28ac9e.png)

And just to confirm, both using the wysiwyg.min.js or manually adding all js file for me result in this.

[2016-02-02 04:25] MegazeroMZ commented on #47
For the image resizer, is it possible to add another 2 box for resize only height and resize only width (without keeping the ratio)?

[2016-02-02 04:26] MegazeroMZ commented on #47
For the image resizer, is it possible to add another 2 box for resize only height and resize only width (without keeping the ratio)?

[2016-02-02 07:22] MegazeroMZ commented on #48
I figure out the problem. When you divided each directive into files and rename them, you forgot to rename the class in the editor.min.css. Just added "ngp-" to all colors-grid and symbols-grid class and it will be ok. Also the width of those 2 class is a little bit bigger than nessecary for some reason, so I changed width of ngp-symbols-grid class to 364px, and color class to 184px.

[2016-02-02 08:10] nkovacic opened #49 "Browserify, AMD, Webpack module loaders?"
Currently this module loaders are not supported.
Is this on the roadmap or can I create a pull request?

[2016-02-02 09:27] brunokrebs commented on #48
Thank you very much for your help @MegazeroMZ.

[2016-02-02 09:27] #48 closed

[2016-02-02 09:29] brunokrebs commented on #49
You are more than welcome to create a pull request.

[2016-02-02 12:21] brunokrebs commented on #2
@psergus I have started to create automated tests with protractor. [Check it out my last commit](https://github.com/psergus/ngWYSIWYG/commit/4ad39aa536d59aa9ef3ee82bdf90b54f4be72ced). It doesn't test much, but it is a good start I guess.

It would be nice to integrate these tests with a continuous integration tool, like [Travis CI](https://travis-ci.org/), and a tool that allows us to test on mult

[2016-02-02 15:54] nkovacic commented on #49
Created a pull request https://github.com/psergus/ngWYSIWYG/pull/51.

[2016-02-02 19:15] we3x opened #52 "Insert Youtube video and PPT/PDF file"
I use this editor for my project and I needed an option to insert youtube link or pdf file, so I implemented that.
would you be interested in pull request?

[2016-02-03 04:21] psergus commented on #2
Hi Bruno,

thanks for starting it. I will get on Travis on the weekend - getting
hammered with my new job now :)

On Tue, Feb 2, 2016 at 4:21 AM, Bruno Krebs <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2016-02-03 10:37] brunokrebs commented on #49
Accepted it, thanks!

[2016-02-03 10:37] #49 closed

[2016-02-03 10:44] brunokrebs commented on #49
@nkovacic by the way, would you mind writing a few lines about it on README.md?

[2016-02-06 18:45] nkovacic commented on #49
@brunokrebs Will try this in the following week.

[2016-02-07 21:35] nkovacic opened #53 "NPM release?"
Is there a plan for releasing ngWYSIWYG on NPM?

[2016-02-07 22:21] psergus commented on #53
I guess it will make point when we establish a good testing suite for the
editor. But yeah, looking forward for that.

On Sun, Feb 7, 2016 at 1:35 PM, Niko Kovačič <notifications@github.com>
wrote:

--
Best regards,
Sergey Petrenko

[2016-02-11 09:58] Nathalielim opened #54 "extend ngWYSIWYG"
how can i extend the directive so that the editor can show different buttons for different html views?

[2016-02-11 13:35] brunokrebs commented on #54
It is easy, it is just a matter of creating a literal object to be passed as the config parameter of wysiwygEdit directive. This is explained [here](https://github.com/psergus/ngWYSIWYG#configuration).

As an example, to choose what buttons to show in page 1, you create an object:
[code]
And then pass it to the directive at page1.html:
[code]

To use other buttons in other page, you just replicate

[2016-02-11 13:35] #54 closed

[2016-02-11 14:20] nkovacic opened #55 "Ng-model instead of content?"
Would it be possible to to change from content to ng-model, because of native form validation?

[2016-02-18 12:13] mazavr opened #56 "redactor should not add events listeners to ALL iframes on a page"

[2016-02-26 15:09] aharris opened #57 "IE10 not loading wysiwyg view"
I am getting a type error in IE10:
[code]

In chrome from the minified code
[code]

In IE:

`c.querySelector("body") === undefined`

My setup:

`<wysiwyg-edit content="text" config="editorConfig"></wysiwyg-edit>`

[code]

[2016-03-07 11:00] JungmoKang opened #58 "Cannot read property 'tagName' of undefined"
Hi,
first of all, I really appreciate for this module.

I found bug(maybe..).

1. insert image
1. click image
1. then, resizer is displayed
1. remove image by 'back space'
1. the resizer still remains
1. then 'TypeError: Cannot read property 'tagName' of undefined' error occurred

I founding solution, but if you already have, fix it please.

regards,
kang

[2016-03-07 11:11] JungmoKang commented on #58
ngpImageResizer.js
[code]
this code
[code]
to
[code]
will be fix, but it's not perfect solution. I think resizer have to hide when image is deleted.

[2016-03-16 16:55] scotthellewell opened #59 "The buttons do not work when multiple WYSIWYG controls are on the same page."
When having just one WYSIWYG on the page, selecting styles, fonts, etc all work.  As soon as I have more than one, they do not. Is anyone else having this problem?

Thanks,

Scott Hellewell

[2016-04-04 06:27] pdonorio opened #60 "How to enable the font family dropdown"
Maybe a dumb question, but if i use your example i don't get the second row of the bar i can see in the demo.

I also checked the demo code and i don't see any relevant differences.

Can you point me out to what i could be missing?

Thanks for your work!

[2016-04-04 15:17] psergus commented on #60
Hi Paolo,

would be great if you can present your example on CodePen or relative tools
so we can see the markup.

On Sun, Apr 3, 2016 at 11:27 PM, Paolo D. <notifications@github.com> wrote:

--
Best regards,
Sergey Petrenko

[2016-04-04 20:43] pdonorio commented on #60
Sure, i will try `codepen` as soon as i can.
Do you have a template to start with?

[2016-04-20 07:02] JungmoKang commented on #59
I have too. when multiple editors are created, if i insert image to one, and click a inserted image, then resizer is showed another one.

[2016-04-20 09:00] JungmoKang opened #61 "multiple editor in one page"
Hi, Thank for this module.

I add two editor in one page, and add image to first one, so click inserted image, then resizer is shown to another one.
I searched for the cause. I think [two "ngpContentFrame" directive use one "ngpImageResizer" service] is the cause.
Anyone Have A solution for this?

Thanks, kang

[2016-04-22 23:13] aclogarta opened #62 "How do you clear the content programmatically?"
Hi There!

How can I clear the content programatically. I tried the following but it doesn't work:

        //Clear the inner html document of the iframe
        var iframe = document.getElementsByTagName("iframe")
        frameDoc = iframe[0].contentDocument || iframe[0].contentWindow.document;
        frameDoc.documentElement.innerHTML = '<head></head><body contenteditable="true"></body>';

Many

[2016-04-25 02:34] moronboy opened #63 "TypeError: Cannot read property 'open' of null"
Hi There!

when i use ngWYSIWYG normal is ok
but when i use ngDialog to open a page
the ngWYSIWYG is error

`angular.js:9383 TypeError: Cannot read property 'open' of null
    at l (http://127.0.0.1:8080/assets/lib/ngWYSIWYG/dist/wysiwyg.min.js:1:16351)
    at http://127.0.0.1:8080/assets/lib/Angular/angular.js:6590:44
    at nodeLinkFn (http://127.0.0.1:8080/assets/lib/Angular/angular.js:6212:13)

[2016-04-26 12:12] pdonorio commented on #60
I am sorry, i didn't find the time to write down a CodePen script and found another solution.

The issue can be closed.

[2016-04-26 12:12] #60 closed

[2016-04-28 11:57] timvdalen opened #64 "Style selection doesn't reset after selecting"
When you select a style (like `Header 1`), the selection doesn't reset.
This means that if you want to change multiple pieces of text to Header 1, you have to manually switch them between Paragraph and Header 1 to get the desired result.

/cc @EmilieRvT

[2016-05-16 08:47] mvarun459 opened #65 "How to upload the image from the local machine instead of the external URL."
How i need to upload an image from the local machine. If there is any functionality for that. If not can you please add and update the code.

[2016-05-16 21:17] thegoldentoilet opened #66 "Navigate out of editable area with keyboard"
Is there a way to leave the editable area using keyboard navigation?

Also a list of keyboard shortcuts?

[2016-07-11 11:11] anandg-optisol opened #67 "Print Icon not working on Firefox browser but working fine in chrome browser."
Hi,
I am very happy to use your WYSIWYG editor for my project. I am facing few issue while using it. Print icon not working in firefox browser. Another issue is that, when having 3 editor on the same page, Insert hyperlink is not working fine. Insert hyperlink works well for the first one, and for the rest it is not working fine. Pls help me to complete the project.

[2016-07-11 14:23] anandg-optisol opened #68 "Multiple WYSIWYG editor not working fine when trying to click "Insert Hyperlink" option on same page"
I am having 3 wysiwyg editor on the same page. Insert hyperlink is working for the first that was on the page, but not working for the rest 2 editor of the page. Pls share the procedure to be fixed for the issue.

[2016-07-12 18:36] tommy-boy opened #69 "Select not showing default option value header"
The dropdown select for font, size, and style are not showing the default selected.  So I am not seeing "font", "size", "style" for the header.  Example: <option selected disabled>Font</option>.

[2016-07-29 18:43] jccv86 commented on #63
I have the same Issue, with ngDialog, please fix it!

[2016-08-03 11:16] miclaus opened #70 "Adapt wysiwygEdit directive templateUrl to work w/ Cordova"
I had a problem using the `wysiwygEdit` directive w/ Cordova:

<img width="1046" alt="screen shot 2016-08-03 at 11 22 35" src="https://cloud.githubusercontent.com/assets/4658706/17363675/23ddc4cc-597c-11e6-891c-037512488323.png">

So I removed the first `/` from `templateUrl` for it to work:

**from**
[code]

**to**
[code]

[2016-08-04 07:27] mecapetr opened #71 "Translate buttons"
Is there any way to translate the titles of buttons ?

[2016-08-04 12:55] mecapetr commented on #57
Have you found any solution ? I have the same problem and I don´t fix it yet.

[2016-08-05 11:53] ishthiaque commented on #57
i too am facing same issue

[2016-08-26 21:55] thegoldentoilet commented on #69
Just was going to comment on this as well. It's line 113 of wysiwygEdit.js. You need to include the closing > of the select tag.

[2016-09-06 15:41] miclaus commented on #70
Is the project still being maintained?

[2016-09-12 18:53] vodun commented on #57
same bug!! add description that it works only Microsoft Edge!!!

[2016-09-21 10:20] infoofajit opened #72 "Validation will make your plugin to the next step"
Hi,

I used and found a problem that we can't add the validation on the editor or no config options provided to add the attribute for the validation.

Also I found the great work and functionality here. And I believe by adding the validation will make your plugin to the next level.

[2016-11-27 12:27] Asraf-Uddin-Ahmed commented on #69
Now, line 111 of wysiwygEdit.js is:
`html += 'ng-model="' + button.model + '" ';`
It needs to change:
`html += '>ng-model="' + button.model + '" ';`

In minified files go to column number 7349 and simply add `>` before `ng-model=".`.
In this way I have solved my problem.

[2016-11-27 12:36] Asraf-Uddin-Ahmed commented on #69
In minified file, go to column number 7435 and closing `>`.

[2016-12-02 22:57] dsvictorh opened #74 "Can't disable toolbar features"
I tried changing the toolbars by either removing several lines like removing styling item or leaving it but with an empty array. The loader still includes all functionality

[2017-03-15 13:18] HemavathiJ opened #75 "All editable areas like inputs, textarea are not editable in IE11."
Hi,
I am using angular 1.3 with ui-router 0.3.0 & ngWYSIWYG 0.6.2.

when I navigate from a route which is using ngWYSIWYG to another route, all editable areas like inputs, textarea are not editable in IE11.

[2017-04-12 16:06] thany opened #76 "Can't install via bower"
It says `Unable to find suitable version for angular` when I do a simple `bower install ngWYSIWYG --save` in my project.

Full output:
[code]

I could override requirements in my bower.json, but I'd rather see it fixed for everybody.

[2017-05-05 14:29] udayRedI commented on #63
Make sure that the directive loads in the end. You can do this by setting a variable to true and using that with `ng-if` for that directive.

[2017-05-12 17:47] kwisatz opened #77 "Faulty semver use"
Your description says that this works for angular 1.2 and up, but in your bower.json, you specify `~1.2`.
Please see https://docs.npmjs.com/misc/semver.
This means the patch level can change, but not minor, meaning it will always request angular 1.2.x

[2017-05-29 08:49] nikaivan opened #78 "Unlimited event listeners are being created on tab change"
Hello,

We're implementing ngwysiwyg on an AngularJS project that uses angular-material.

Angular material has a feature that allow us to split the content on different tabs. Related to this, we found a problem when using ngwysiyg inside a tab.

In file wysiwygEdit.js line 21, is defined an onclick event listener, that fires "NGP_EVENTS.CLICK_AWAY" function, whose functionality is to hide symbols

[2017-07-14 02:31] albertosubero commented on #63
Thanks @udayRedI , nice solution.

[2017-08-28 13:43] tkserver opened #79 "Typing in iOS stops though user keeps typing"
I've built an app and use ngWYSIWYG for my text editors. It works fine on android but in iOS a user starts typing and after a few characters the text no longer appears, though the user is still typing.  The auto correct is still showing suggestions when typing even though no characters are appearing in the editor.

Going out of the editor and back in seems to allow the user to type again, for a fe

[2017-12-23 15:48] kdbusiness90 commented on #63
@udayRedI, I am getting same issue but ng-if is not working for below code.

[code]
It is working fine if I removed afterClose function with ng-if.

[code]